body {
  background-color: lightblue;
}

h1 {
  color: #0096FF;
  margin-left: 10px;
}
p {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  color: #D6EEEE;
  margin-left: 10px;
}
